 body{
   /* caracteristicas de imagen de pantalla y body*/
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; background-image:url(https://image.freepik.com/vector-gratis/tecnologia-de-interfaz-fondo-abstracto_5205-97.jpg);
background-size: cover;
background-repeat: no repeat;
background-position: center;
  }
  
  /* titulo*/
  h1{
    text-align: center;
    color: white;
  }
  
  /* caja donde esta el cipher*/
  .center{
  width: 600px;
  margin: 0 auto;
  background : #61e5f5;
  padding: 100px 100px 100px 100px;
  border-radius: 20px;
   }

/*caja de textarea donde se ingresa el texto a cifrar*/
#oracion{
  height: 100px;
  font-size: 14px;
  border-radius: 20px;
  border: none;
  padding-left: 20px;
}
  /* boton de codifica*/
  #codifica{
  background: goldenrod;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color :black;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;
}

/*evento al colocar el mousse encima del boton codifica*/
#codifica:hover{
  background: whitesmoke;
  border: 1px solid aqua;
  color: black;
  cursor: pointer;
}

/*boton decodificar*/
#decodifica{
  background: goldenrod;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color :black;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;
}

/* evento al pasar el mousse por el boton*/
#decodifica:hover{
  background: whitesmoke;
  border: 1px solid aqua;
  color: black;
  cursor: pointer;
}
  
  


