table, h1 {
	font-family: sans-serif;
}

table#ab{
	width: 50%;
	padding: 10%;
}

input{
	margin-bottom: 18px;
}

#p05{
	 margin-left: 30px;
  background:firebrick ;
  padding: 30px 50px 30px 50px;
  width: 500px;
  border-radius: 50px;
  float: left ;

}

#texto{
width: 30;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}

#te{
	width: 30;
  font-size: 16px;
  border-radius: 5px;
  border: none;
  padding-left: 5px;
}

#c06{
background: indianred;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color : white;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;
}

#c06:hover{
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}

#bc{
	background: indianred;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color : white;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;
}

#bc:hover{
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}

#sn{
	background: green;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color : white;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;
}

#sn:hover{
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}

#mc{
background:indianred;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color : white;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;	
}

#mc:hover{
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}

#l08{
	background: indianred;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color : white;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;
}
#l08:hover{
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}

#je{
	background: fuchsia;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color : white;
  font-size: 16px;
  transition-duration: .5s;
  margin-top: 15px;
}

#je:hover{
  background: white;
  border: 1px solid green;
  color: black;
  cursor: pointer;
}

#after_sumibt{
  visibility: hidden;
  background: #c91613;
  padding: 10px 20px 10px 20px;
  width: 400px;
  border-radius: 30px;
  float: left;
  margin-left: 30px;
  font-size: 20px;
}

#after_sumibt {
  visibility: hidden;
}